<tr id="ur-<%= timestamp %>">
  <td></td>
  <td>
    <%= l(:label_uc_controller) %>:
    <%= select_tag 'uc_period[uc_restrictions_attributes][][controller]', options_for_select(@controllers, uc_restriction.present? ? uc_restriction.controller : ''), include_blank: true, class: 'select2 uc uc-controller', data: {select2_width: '200px'} %>
    <span style="margin-left: 10px;"><%= l(:label_uc_action) %>:</span>

    <% if uc_restriction.present? %>
      <%= select_tag 'uc_period[uc_restrictions_attributes][][action]', options_for_select(UcRoute.actions(uc_restriction.controller), uc_restriction.action), include_blank: true, class: 'select2 uc uc-action', data: {select2_width: '200px'} %>
    <% else %>
      <%= select_tag 'uc_period[uc_restrictions_attributes][][action]', '', include_blank: true, class: 'select2 uc uc-action', data: {select2_width: '200px'} %>
    <% end %>
    <% if uc_restriction.present? && uc_restriction.id %>
      <%= hidden_field_tag 'uc_period[uc_restrictions_attributes][][id]', uc_restriction.id %>
    <% end %>
    <%= hidden_field_tag 'uc_period[uc_restrictions_attributes][][timestamps]', timestamp %>
    <%= link_to("<span>#{l(:button_delete)}</span>".html_safe, url_for(controller: 'uc_restrictions', action: 'destroy', id: uc_restriction.present? ? uc_restriction.id : nil, tr_id: ("#ur-" + timestamp.to_s)), method: :delete, remote: true, :class => "in_link icon icon-del" ) %>
  </td>
</tr>