<script type="text/javascript">
//<![CDATA[
  $(document).ready(function(){
    $('[id^="s2id_controller_restrictions_"]').addClass('controller-margin');
    $('[id*="_action_restrictions"]').css("float", "left");
  });
//]]>
</script>

<h2><%= l(:admin_menu_under_construction) %></h2>

<%= form_for(@uc_period, :html => {:id => 'uc_period_form'}) do |f| %>
<table>
  <tr id="uc_beg_date_tr">
    <td><%= label_tag('begin_date', l(:field_tech_begin_date)) %></td>
    <td><%= f.date_select :begin_date %><%= f.time_select :begin_date, :ignore_date => true %></td>
  </tr>
  <tr id="uc_end_date_tr">
    <td><%= label_tag('end_date', l(:field_tech_end_date)) %></td>
    <td><%= f.date_select :end_date %><%= f.time_select :end_date, :ignore_date => true %></td>
  </tr>
  <% if true || Redmine::Plugin::registered_plugins.include?(:redmine_sender) %>
  <tr>
    <td style="vertical-align: top;"><%= label_tag('tech_period_head', l(:field_message_head)) %></td>
    <td>
      <div id="msg_head" style="border: 1px solid #DDD; background-color: #EEE; padding: 5px; width: 700px;">
        <%= render :partial => 'msg_head', :locals => {:uc_period => @uc_period} %>
      </div>
    </td>
  </tr>
  <% end %>
  <tr>
    <td style="vertical-align: top;"><%= label_tag('tech_period', l(:field_custom_message)) %></td>
    <td><%= f.text_area :custom_message,
                        :cols => 60,
                        :rows => 5,
                        :class => 'wiki-edit' %>
        <%= wikitoolbar_for 'uc_period_custom_message' %>
        <%= link_to( content_tag(:span, l(:label_preview)),
                     '#',
                     :class => 'icon uc_preview in_link no_line',
                     :onclick => 'submitPreview("/uc_periods/'+@uc_period.id.to_s+'/preview/", "uc_period_form", "uc_period_form_preview"); return false;' ) %>
    </td>
  </tr>
  <tr>
    <td style="vertical-align: top;"><%= label_tag('tech_period_user_id', l(:field_responsible)) %></td>
    <td><%= f.select :user_id, options_for_select(User.active.sort_by(&:name).map{|u| [u.name, u.id]}, @uc_period.user_id), {}, class: 'select2' %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= %></td>
  </tr>
  <tr>
    <td><%= label_tag('uc_period_turned_on', l(:field_turned_on)) %></td>
    <td><%= f.check_box :turned_on %></td>
  </tr>
  <tr>
    <td><%= label_tag('uc_period_notify', l(:field_notify_about)) %></td>
    <td><%= f.check_box :notify %></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div id="uc_period_form_preview"></div></td>
  </tr>
</table>
  <%= f.submit(l(:button_save)) %>
<% end %>