<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'under_construction.css', :plugin => :under_construction %>
  <%= javascript_include_tag 'under_construction.js', :plugin => :under_construction %>
<% end %>

<% uc_period = UcPeriod.order('begin_date desc').first %>
<% if uc_period && uc_period.notify %>
  <div id="uc_warn_note" class="I alert alert-warning uc_float_warn">
    <div class="uc_warn_wrapper">
      <div class="uc_close_btn"><a href="#" class="icon uc_close_icon uc_close_warning"></a></div>
      <div class="uc_warn_image"><%= image_tag('exclamation.png', :plugin => :under_construction) %></div>
      <div class="uc_warn_text">
        <%= textilizable((uc_period.txt_to_notify || uc_period.custom_message).to_s, :object => uc_period) %>
      </div>
      <% if uc_period.user_id %>
        <% if Redmine::Plugin::registered_plugins.include?(:ldap_users_sync) %>
          <div class="uc_ask_label"><%= l(:label_ask_for) %>:</div>
          <div class="uc_ask_user">
            <%= show_user_info(uc_period.user, [:name,:phones,:email]) %>
          </div>
        <% else %>
          <div class="uc_ask_label"><%= l(:label_ask_for) %>: <%= link_to_user(uc_period.user) %></div>
        <% end %>
      <% end %>
    </div>
  </div>
  <script>
    var uc_warn_hash = '<%= Digest::MD5.hexdigest((uc_period.txt_to_notify || uc_period.custom_message).to_s) %>';
  </script>
<% end %>
